


.post{
    width: 30%;
    height: 30%;
    border: 30px solid dodgerblue;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    flex-basis: 0;
 
        
        
    
}